USE [master]
GO
/****** Object:  Database [shoeStone]    Script Date: 20.03.2026 19:32:08 ******/
CREATE DATABASE [shoeStone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shoeStone', FILENAME = N'C:\Users\10221221\shoeStone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shoeStone_log', FILENAME = N'C:\Users\10221221\shoeStone_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shoeStone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shoeStone]
GO
/****** Object:  Table [dbo].[Category$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiliweryPoint$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiliweryPoint$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_DiliweryPoint$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order$](
	[id] [int] NOT NULL,
	[orderDate] [datetime] NULL,
	[deliveriDate] [datetime] NULL,
	[deliveripountid] [int] NULL,
	[userId] [int] NULL,
	[code] [int] NULL,
	[statusid] [int] NULL,
 CONSTRAINT [PK_Order$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_OrderStatus$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Producer$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Product$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role$](
	[id] [int] NOT NULL,
	[Роль сотрудника] [nvarchar](255) NULL,
 CONSTRAINT [PK_Role$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier$](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Supplier$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar$](
	[id] [int] NOT NULL,
	[article] [nvarchar](255) NULL,
	[productId] [int] NULL,
	[unit] [nvarchar](255) NULL,
	[cost] [int] NULL,
	[suplierId] [int] NULL,
	[producterId] [int] NULL,
	[categoryId] [int] NULL,
	[discaunt] [int] NULL,
	[quantity] [int] NULL,
	[description] [nvarchar](255) NULL,
	[photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_Tovar$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TovarOrder$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TovarOrder$](
	[id] [int] NOT NULL,
	[article_id] [int] NULL,
	[quantity] [int] NULL,
	[orderId] [int] NULL,
 CONSTRAINT [PK_TovarOrder$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User$]    Script Date: 20.03.2026 19:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User$](
	[id] [int] NOT NULL,
	[role_id] [int] NULL,
	[name] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
 CONSTRAINT [PK_User$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category$] ([id], [name]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Category$] ([id], [name]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[DiliweryPoint$] ([id], [name]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[DiliweryPoint$] ([id], [name]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[DiliweryPoint$] ([id], [name]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
GO
INSERT [dbo].[Order$] ([id], [orderDate], [deliveriDate], [deliveripountid], [userId], [code], [statusid]) VALUES (1, CAST(N'2025-02-27T00:00:00.000' AS DateTime), CAST(N'2025-04-20T00:00:00.000' AS DateTime), 1, 1, 901, 1)
INSERT [dbo].[Order$] ([id], [orderDate], [deliveriDate], [deliveripountid], [userId], [code], [statusid]) VALUES (2, CAST(N'2022-09-28T00:00:00.000' AS DateTime), CAST(N'2025-04-21T00:00:00.000' AS DateTime), 11, 2, 902, 1)
INSERT [dbo].[Order$] ([id], [orderDate], [deliveriDate], [deliveripountid], [userId], [code], [statusid]) VALUES (3, CAST(N'2025-03-21T00:00:00.000' AS DateTime), CAST(N'2025-04-22T00:00:00.000' AS DateTime), 2, 3, 903, 1)
GO
INSERT [dbo].[OrderStatus$] ([id], [name]) VALUES (1, N'Завершен')
INSERT [dbo].[OrderStatus$] ([id], [name]) VALUES (2, N'Новый ')
GO
INSERT [dbo].[Producer$] ([id], [name]) VALUES (1, N'Kari')
INSERT [dbo].[Producer$] ([id], [name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Producer$] ([id], [name]) VALUES (3, N'Рос')
GO
INSERT [dbo].[Product$] ([id], [name]) VALUES (1, N'Ботинки')
INSERT [dbo].[Product$] ([id], [name]) VALUES (2, N'Туфли')
INSERT [dbo].[Product$] ([id], [name]) VALUES (3, N'Кроссовки')
GO
INSERT [dbo].[Role$] ([id], [Роль сотрудника]) VALUES (1, N'Администратор')
INSERT [dbo].[Role$] ([id], [Роль сотрудника]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role$] ([id], [Роль сотрудника]) VALUES (3, N'Авторизированный клиент')
GO
INSERT [dbo].[Supplier$] ([id], [name]) VALUES (1, N'Kari')
INSERT [dbo].[Supplier$] ([id], [name]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Tovar$] ([id], [article], [productId], [unit], [cost], [suplierId], [producterId], [categoryId], [discaunt], [quantity], [description], [photo]) VALUES (1, N'А112Т4', 1, N'шт.', 4990, 1, 1, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Tovar$] ([id], [article], [productId], [unit], [cost], [suplierId], [producterId], [categoryId], [discaunt], [quantity], [description], [photo]) VALUES (2, N'F635R4', 1, N'шт.', 3244, 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Tovar$] ([id], [article], [productId], [unit], [cost], [suplierId], [producterId], [categoryId], [discaunt], [quantity], [description], [photo]) VALUES (3, N'H782T5', 2, N'шт.', 4499, 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
GO
INSERT [dbo].[TovarOrder$] ([id], [article_id], [quantity], [orderId]) VALUES (1, 1, 2, 1)
INSERT [dbo].[TovarOrder$] ([id], [article_id], [quantity], [orderId]) VALUES (2, 3, 1, 2)
INSERT [dbo].[TovarOrder$] ([id], [article_id], [quantity], [orderId]) VALUES (3, 5, 10, 3)
GO
INSERT [dbo].[User$] ([id], [role_id], [name], [login], [password]) VALUES (1, 1, N'Никифорова Весения Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User$] ([id], [role_id], [name], [login], [password]) VALUES (2, 1, N'Сазонов Руслан Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User$] ([id], [role_id], [name], [login], [password]) VALUES (3, 1, N'Одинцов Серафим Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
GO
ALTER TABLE [dbo].[Order$]  WITH CHECK ADD  CONSTRAINT [FK_Order$_DiliweryPoint$] FOREIGN KEY([deliveripountid])
REFERENCES [dbo].[DiliweryPoint$] ([id])
GO
ALTER TABLE [dbo].[Order$] CHECK CONSTRAINT [FK_Order$_DiliweryPoint$]
GO
ALTER TABLE [dbo].[Order$]  WITH CHECK ADD  CONSTRAINT [FK_Order$_OrderStatus$] FOREIGN KEY([statusid])
REFERENCES [dbo].[OrderStatus$] ([id])
GO
ALTER TABLE [dbo].[Order$] CHECK CONSTRAINT [FK_Order$_OrderStatus$]
GO
ALTER TABLE [dbo].[Order$]  WITH CHECK ADD  CONSTRAINT [FK_Order$_TovarOrder$] FOREIGN KEY([id])
REFERENCES [dbo].[TovarOrder$] ([id])
GO
ALTER TABLE [dbo].[Order$] CHECK CONSTRAINT [FK_Order$_TovarOrder$]
GO
ALTER TABLE [dbo].[Order$]  WITH CHECK ADD  CONSTRAINT [FK_Order$_User$] FOREIGN KEY([userId])
REFERENCES [dbo].[User$] ([id])
GO
ALTER TABLE [dbo].[Order$] CHECK CONSTRAINT [FK_Order$_User$]
GO
ALTER TABLE [dbo].[Tovar$]  WITH CHECK ADD  CONSTRAINT [FK_Tovar$_Category$] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category$] ([id])
GO
ALTER TABLE [dbo].[Tovar$] CHECK CONSTRAINT [FK_Tovar$_Category$]
GO
ALTER TABLE [dbo].[Tovar$]  WITH CHECK ADD  CONSTRAINT [FK_Tovar$_Producer$] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Producer$] ([id])
GO
ALTER TABLE [dbo].[Tovar$] CHECK CONSTRAINT [FK_Tovar$_Producer$]
GO
ALTER TABLE [dbo].[Tovar$]  WITH CHECK ADD  CONSTRAINT [FK_Tovar$_Product$] FOREIGN KEY([productId])
REFERENCES [dbo].[Product$] ([id])
GO
ALTER TABLE [dbo].[Tovar$] CHECK CONSTRAINT [FK_Tovar$_Product$]
GO
ALTER TABLE [dbo].[Tovar$]  WITH CHECK ADD  CONSTRAINT [FK_Tovar$_Supplier$] FOREIGN KEY([suplierId])
REFERENCES [dbo].[Supplier$] ([id])
GO
ALTER TABLE [dbo].[Tovar$] CHECK CONSTRAINT [FK_Tovar$_Supplier$]
GO
ALTER TABLE [dbo].[TovarOrder$]  WITH CHECK ADD  CONSTRAINT [FK_TovarOrder$_Tovar$] FOREIGN KEY([article_id])
REFERENCES [dbo].[Tovar$] ([id])
GO
ALTER TABLE [dbo].[TovarOrder$] CHECK CONSTRAINT [FK_TovarOrder$_Tovar$]
GO
ALTER TABLE [dbo].[User$]  WITH CHECK ADD  CONSTRAINT [FK_User$_Role$] FOREIGN KEY([role_id])
REFERENCES [dbo].[Role$] ([id])
GO
ALTER TABLE [dbo].[User$] CHECK CONSTRAINT [FK_User$_Role$]
GO
USE [master]
GO
